.slider-container {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border: 2px solid #e6e6e6; /* Add border to slider container */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    background-color: #f9f9f9; /* Set background color */
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word; 
}

.slide h2{
    max-width: 400px; /* Set maximum width for title and content */
    margin-left: auto; /* Align text to the center */
    margin-right: auto; 
}
.slide p {
    max-width: 600px; /* Set maximum width for title and content */
    margin-left: auto; /* Align text to the center */
    margin-right: auto; /* Align text to the center */
}

.slide img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Add some space below the image */
}

.slider-controls {
    margin-top: 10px;
    display: flex;
    justify-content: center; /* Center horizontally */
}

.prev-button,
.next-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

.prev-button:hover,
.next-button:hover {
    opacity: 0.7;
}