.slider-container {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border: 1px solid #ccc; /* Add border to slider container */
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text */
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #ccc; /* Add border between slides */
	word-wrap: break-word; /* Allow text to wrap within the slide */
}
.slide h2{
    max-width: 200px; /* Set maximum width for title and content */
    margin-left: auto; /* Align text to the center */
    margin-right: auto; 
}
.slide p {
    max-width: 300px; /* Set maximum width for title and content */
    margin-left: auto; /* Align text to the center */
    margin-right: auto; /* Align text to the center */
}
.slide:last-child {
    border-right: none; /* Remove border from the last slide */
}

.slide img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Add some space below the image */
}

.slider-controls {
    margin-top: 10px;
    display: flex;
    justify-content: center; /* Center horizontally */
}

.prev-button,
.next-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

.prev-button:hover,
.next-button:hover {
    opacity: 0.7;
}

// Additional styles for title and content
.slide h2,
.slide p {
    max-width: 80%; /* Set maximum width for title and content */
    margin-left: auto; /* Align text to the center */
    margin-right: auto; /* Align text to the center */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
}
